argon2-cffi-bindings==21.2.0
argon2-cffi==21.3.0
asgiref==3.5.2
attrs==21.4.0
certifi==2022.6.15
cffi==1.15.1
cloudinary==1.29.0 
dj-database-url==0.5.0
dj-email-url==1.0.5
django-cache-url==3.4.2
django-cors-headers==3.13.0
django-filter==22.1
django-jazzmin==2.5.0
django==4.0.5
djangorestframework-simplejwt==5.2.0
djangorestframework==3.13.1
drf-spectacular-sidecar==2022.6.1
drf-spectacular==0.22.1
environs==9.5.0
gunicorn==20.1.0
inflection==0.5.1
jsonschema==4.6.0
marshmallow==3.16.0
packaging==21.3
pillow==9.2
psycopg2-binary==2.9.3
pycparser==2.21
pyjwt==2.4.0
pyparsing==3.0.9
pyrsistent==0.18.1
python-dotenv==0.20.0
pytz==2022.1
pyyaml==6.0
six==1.16.0
sqlparse==0.4.2
tzdata==2022.1
uritemplate==4.1.1
urllib3==1.26.10
whitenoise==6.2.0